.main {
  width: 100%;
  min-height: 100vh;
  color: #000;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 1rem;
  /* line-height: 1.6rem; */
}

.text::selection {
  color: white;
  background-color: blue;
}

@media (max-width: 900px) {}

@media (max-width: 450px) {}